<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Microsoft CDS STS Identity Python Web App</h1>
    <h2>Welcome {{ user.get("name") }}!</h2>

    {% if config.get("CDS_API_URL") %}
      <li><a href='/getguide'>Call CDS Guides GET API</a></li>
      <li><a href='/postguide'>Call CDS Guides POST API</a></li>
    {% endif %}

    {% if config.get("B2C_PROFILE_AUTHORITY") %}
      <li><a href='{{_build_auth_url(authority=config["B2C_PROFILE_AUTHORITY"])}}'>Edit Profile</a></li>
    {% endif %}

    <li><a href="/logout">Logout</a></li>
    <hr>
    <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>
</body>
</html>

